@use '../abstracts' as *;
.background-text {
  opacity: 0.4;  top: 50%;
  left: 50%;  transform: translate(-50%, -50%);
  font-size: calc((75vw - 4.5rem) / 4);  font-weight: 600;
  color: rgba(211, 211, 211, 0.5);  z-index: -1;
  pointer-events: none;  text-transform: uppercase;
}
.text-black {  text-transform: capitalize;
  font-size: 120px;  width: 100%;
  text-align: center;  color: #000;
  opacity: 0.1;  z-index: 1;
  white-space: nowrap;
}












@use '../abstracts' as *;

.background-text {
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc((75vw - 4.5rem) / 4);
  font-weight: 600;
  color: rgba(211, 211, 211, 0.5);
  z-index: -1;
  pointer-events: none;
  text-transform: uppercase;
}

.text-black {
  text-transform: capitalize;
  font-size: 120px;
  width: 100%;
  text-align: center;
  color: #000;
  opacity: 0.1;
  z-index: 1;
  white-space: nowrap;
}
