@use 'variables' as *;

@media (max-width: 992px) {
  .main-nav {
    display: none;
  }
  
  .title {
    position: relative;
    top: 13px;
    font-size: 8vw;
    line-height: -1;
  }
  
  .outline_text {
    font-size: 4vw;
    line-height: 1;
    margin-left: 0px;
    font-size: 43px;
    letter-spacing: 5px;
  }
  
  .up {
    display: none;
  }
}

@media (max-width: 900px) {
  .sections {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  .section:nth-child(3) {
    display: none;
  }
  
  p {
    width: clamp(min(438px, 100vw) 900px, 80vw);
    padding: 10px;
  }
}

@media (max-width: 750px) {
  main {
    text-align: center;
    grid-template-columns: 1fr;
  }
  
  .contents_container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .scene {
    order: -1;
    max-width: 20rem;
    height: auto;
  }
  
  article > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .sections {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  
  body {
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .header {
    margin-bottom: 2rem;
  }

  .section {
    max-width: 400px;
    margin: 0 auto;
  }

  .section-header {
    justify-content: flex-start;
  }
  
  .section:nth-child(1),
  .section:nth-child(3) {
    display: none;
  }
  
  .section-number {
    display: none;
  }
  
  p {
    padding: 10px;
  }
}
